
*,body{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
}

.fit-content{
    width: 100%;
}

.fit-footer{
    text-decoration: none; 
    text-transform: uppercase;
    font-weight: bold; 
    color: black;
}